
header{
    margin-top: 200px;
    font-family: 'Montserrat', sans-serif;
}

.dws-menu{
    margin: 0;
    padding: 0;
}
.dws-menu ul,
.dws-menu ol{
    list-style: none;
}
.dws-menu > ul{
    display: flex;
    justify-content: center;
}
.dws-menu > ul li a{
    display: block;
    background: violet;
    padding: 15px 20px;
    font-size: 16px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
}

.dws-menu > ul li{
    position: relative;
    border-right: 1px solid indigo;

}
.dws-menu ul li:first-child{
    border-left: 1px solid indigo;
}
.dws-menu ul li:last-child{
    border-right: 1px solid indigo;
}
.dws-menu li a:hover{
    background: indigo;
    transition: all 0.3s;
}
/*подменю*/
.dws-menu li ul{
    position: absolute;
    min-width: 150px;
    display: none;
}
.dws-menu li > ul li{
    border: 1px solid indigo;
}
.dws-menu li > ul li a{
    background: hotpink;
    padding: 10px;
    text-transform: none;
}
.dws-menu li > ul li ul{
    position: absolute;
    right: -150px;
    top: 0;
}
.dws-menu li:hover > ul{
    display: block;
}


